/* .loading_image {
    width: 20%;
    height: auto;
    object-fit: cover;
    border-radius: 9px;
    padding: 15%;
}

.recipe_card__image {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    background: -webkit-linear-gradient(150deg,
            #643843,
            #99627A,
            #C88EA7);
    box-shadow: 10px 10px 20px rgb(231, 203, 203);
    padding: 30px 30px;
    margin-left: -25%;
}

.score {
    margin-top: -15%;
    margin-left: 15%;
}

.diets{
    margin-top: 12%;
    margin-right: 6%;
    font-size: medium;
}

.summ_steps {
    margin-left: 24%;
    width: 60%;
    text-align: justify;
}

.texts {
    font-size: small;
}

.back{
    margin-right: 0%;
}
 */
